PREFIX obo: <http://purl.obolibrary.org/obo/>
PREFIX sio: <https://sio.semanticscience.org/resource/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX ordo: <http://www.orpha.net/ORDO/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT distinct ?person_id ?death_date ?death_datetime ?death_type_concept_id ?cause_concept_id ?cause_source_value ?cause_source_concept_id
WHERE {
    GRAPH ?g {
        ?role sio:SIO_000356 ?process ;  a sio:SIO_000016 .
        ?process sio:SIO_000229 ?output ; a sio:SIO_000006 , ?process_type ; rdfs:label ?process_label ; sio:SIO_000291 ?target; sio:SIO_000230 ?input; sio:SIO_000552 ?route.			FILTER (?process_type != sio:SIO_000006) .
        OPTIONAL {?process rdfs:comments ?comments}
        ?output sio:SIO_000628 ?attribute ;a sio:SIO_000015 , ?output_type ; rdfs:label ?output_label .FILTER (?output_type != sio:SIO_000015) .
        OPTIONAL{ ?output sio:SIO_000300 ?death_date.}
        OPTIONAL{?input a sio:SIO_000015, ?input_type. FILTER(?input_type != sio:SIO_000015)} 
        OPTIONAL{?target a sio:SIO_000015, ?target_type .FILTER(?target_type != sio:SIO_000015)}
        OPTIONAL{?process sio:SIO_000139 ?agent_id .}
        OPTIONAL{?agent_id a ?agent_type, sio:SIO_000015 . FILTER(?agent_type = obo:NCIT_C16696 || ?agent_type = obo:NCIT_C177929)}
        OPTIONAL{?route a ?route_type, sio:SIO_000015 .FILTER (?route_type != sio:SIO_000015)}
        ?attribute a sio:SIO_000614.
        OPTIONAL{?attribute a ?attribute_id FILTER (?attribute_id != sio:SIO_000614)}
        ?attribute sio:SIO_000332 obo:NCIT_C70810. FILTER (?attribute_type != sio:SIO_000614)
        
    }
    ?g a obo:NCIT_C25616 ; sio:SIO_000068 ?timeline ; sio:SIO_000068 ?context ; sio:SIO_000680 ?startdate ; sio:SIO_000681 ?enddate; sio:SIO_000300 ?uniqid .
    ?context a obo:NCIT_C25616 ; sio:SIO_000300 ?context_id . # context_id is not defined as OPTIONAL{} but could be.
    ?startdate a sio:SIO_000031 ; sio:SIO_000300 ?value_startdate .
    ?enddate a sio:SIO_000032 ; sio:SIO_000300 ?value_enddate . 
    ?timeline a obo:NCIT_C54576, sio:SIO_000417; sio:SIO_000332 ?individual .
    ?individual a sio:SIO_000498 ; sio:SIO_000671 ?individual_identifier .       
    ?individual_identifier a sio:SIO_000115 ; sio:SIO_000300 ?person_id .
}